---
const title = Astro.props.title || "Pendaftaran Santri Online";
const description = Astro.props.description || "Pendaftaran Santri Online";
import "../assets/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <script is:inline>
      const setTheme = () => {
        const theme = localStorage.getItem("theme") || "cupcake";
        document.documentElement.setAttribute("data-theme", theme);
      };
      setTheme();
      document.addEventListener("astro:after-swap", setTheme);
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <link rel="icon" href="favicon.ico" />
    <meta name="description" content={description} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
